<!DOCTYPE html>
<html>
  <head>
    <title>PollsWithFriends</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="site-header">Polls with Friends</h1>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
